.blurb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;

    & h4 {
        margin: 0;
        @media(max-width: $sm) {
            width: 100%;
            text-align: center;
        }
    }

    & p {
        flex-basis: 100%;
    }
}