.logo {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    & a {
        font-size: 1.5rem;
        color: inherit;
        font-weight: bold;
    }
    
    & > img {
        width: 50px;
    }

    &-label {
        color: $lightColor;
        display: inline-block;
        margin-left: 1rem;
    }
}