.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem;

    &.reverse {
        flex-wrap: wrap-reverse;
    }
}

.col-sm {
    &-12 {
        flex-basis: calc((100%/12)*12);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &-11 {
        flex-basis: calc((100%/12)*11);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &-10 {
        flex-basis: calc((100%/12)*10);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &-9 {
        flex-basis: calc((100%/12)*9);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &-8 {
        flex-basis: calc((100%/12)*8);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &-7 {
        flex-basis: calc((100%/12)*7);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &-6 {
        flex-basis: calc((100%/12)*6);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &-5 {
        flex-basis: calc((100%/12)*5);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &-4 {
        flex-basis: calc((100%/12)*4);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &-3 {
        flex-basis: calc((100%/12)*3);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &-2 {
        flex-basis: calc((100%/12)*2);
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &-1 {
        flex-basis: calc((100%/12)*1);
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

.col-md {
    &-12 {
        @media (min-width: $md) {
            flex-basis: calc((100%/12)*12);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-11 {
        @media (min-width: $md) {
            flex-basis: calc((100%/12)*11);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-10 {
        @media (min-width: $md) {
            flex-basis: calc((100%/12)*10);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-9 {
        @media (min-width: $md) {
            flex-basis: calc((100%/12)*9);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-8 {
        @media (min-width: $md) {
            flex-basis: calc((100%/12)*8);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-7 {
        @media (min-width: $md) {
            flex-basis: calc((100%/12)*7);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-6 {
        @media (min-width: $md) {
            flex-basis: calc((100%/12)*6);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-5 {
        @media (min-width: $md) {
            flex-basis: calc((100%/12)*5);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-4 {
        @media (min-width: $md) {
            flex-basis: calc((100%/12)*4);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-3 {
        @media (min-width: $md) {
            flex-basis: calc((100%/12)*3);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-2 {
        @media (min-width: $md) {
            flex-basis: calc((100%/12)*2);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-1 {
        @media (min-width: $md) {
            flex-basis: calc((100%/12)*1);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }
}

.col-lg {
    &-12 {
        @media (min-width: $lg) {
            flex-basis: calc((100%/12)*12);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-11 {
        @media (min-width: $lg) {
            flex-basis: calc((100%/12)*11);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-10 {
        @media (min-width: $lg) {
            flex-basis: calc((100%/12)*10);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-9 {
        @media (min-width: $lg) {
            flex-basis: calc((100%/12)*9);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-8 {
        @media (min-width: $lg) {
            flex-basis: calc((100%/12)*8);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-7 {
        @media (min-width: $lg) {
            flex-basis: calc((100%/12)*7);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-6 {
        @media (min-width: $lg) {
            flex-basis: calc((100%/12)*6);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-5 {
        @media (min-width: $lg) {
            flex-basis: calc((100%/12)*5);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-4 {
        @media (min-width: $lg) {
            flex-basis: calc((100%/12)*4);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-3 {
        @media (min-width: $lg) {
            flex-basis: calc((100%/12)*3);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-2 {
        @media (min-width: $lg) {
            flex-basis: calc((100%/12)*2);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-1 {
        @media (min-width: $lg) {
            flex-basis: calc((100%/12)*1);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }
}

.col-xl {
    &-12 {
        @media (min-width: $xl) {
            flex-basis: calc((100%/12)*12);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-11 {
        @media (min-width: $xl) {
            flex-basis: calc((100%/12)*11);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-10 {
        @media (min-width: $xl) {
            flex-basis: calc((100%/12)*10);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-9 {
        @media (min-width: $xl) {
            flex-basis: calc((100%/12)*9);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-8 {
        @media (min-width: $xl) {
            flex-basis: calc((100%/12)*8);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-7 {
        @media (min-width: $xl) {
            flex-basis: calc((100%/12)*7);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-6 {
        @media (min-width: $xl) {
            flex-basis: calc((100%/12)*6);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-5 {
        @media (min-width: $xl) {
            flex-basis: calc((100%/12)*5);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-4 {
        @media (min-width: $xl) {
            flex-basis: calc((100%/12)*4);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-3 {
        @media (min-width: $xl) {
            flex-basis: calc((100%/12)*3);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-2 {
        @media (min-width: $xl) {
            flex-basis: calc((100%/12)*2);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    &-1 {
        @media (min-width: $xl) {
            flex-basis: calc((100%/12)*1);
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }
}